
#header.swc_help {
    background-color: red;
    background-image: none;
}

#header.swc_ready {
    background-color: darkgreen;
    background-image: none;
}
#header {
    background-color: #d6d6d6; 
    color: #2e3a8c;
    background-image: url("/static/custom/images/ipynblogo-bkg.png")
}

div.wheels_mode_indicator {
    position:fixed;
    bottom:0;
    left:0;
    font-weight:bold;
    font-size:120%;
}
