#header {
    background-color: #d6d6d6; 
    color: #2e3a8c;
    }
}

#ipython_notebook.nav.brand.pull-left {
	background-image: url("https://raw.githubusercontent.com/drlabratory/ipython-trainingwheels/logo_switch/images/ipynblogo-bkg.png")
}

div.wheels_mode_indicator {
    position:fixed;
    bottom:0;
    left:0;
    font-weight:bold;
    font-size:120%;
}
